 <footer class="page-footer SiteFooter">
    <div class="container">
      <div class="row" >
        <div class="col l3 m3 s12">
          <h8 class="white-text">About</h8>
        </div>
        <div class="col l3 m3 s12">
          <h8 class="white-text">Blog</h8>
        </div>
        <div class="col l3 m3 s12">
          <h8 class="white-text">Terms</h8>
        </div>
        <div class="col l3 m3 s12">
          <h8 class="white-text">Developers</h8>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <ul>
          <li>Made with &hearts; by team!</li>
        </ul>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>