<ul class="sidenav"  id="mobile-nav">
          <li><a href="#" id="dashboard" class="black-text"><i class="small material-icons left">dashboard</i>Dashboard</a></li>
          <li><a href="#" class="black-text"><i class="small material-icons left">library_books</i>NewsFeed</a></li>
          <li><a href="#" class="black-text"><i class="small material-icons left">people</i>Network</a></li>
          <li><a href="#" id="resources" class="black-text"><i class="small material-icons left">forum</i><span> Resources</span></a></li>
          <li><a href="#" id="profile" class="black-text"><i class="small material-icons left">account_circle</i>Profile</a></li>
          <li><a href="#" id="logOut" class="black-text"><i class="small material-icons left">power_settings_new</i>Log Out</a></li>
       </ul>
