<ul class="sidenav"  id="mobile-nav">
          <li><a href="/dashboard" id="dashboard" class="black-text"><i class="small material-icons left">dashboard</i>Dashboard</a></li>
          <li><a href="/blog" class="black-text"><i class="small material-icons left">library_books</i>Blog</a></li>
          <li><a href="/forum" class="black-text"><i class="small material-icons left">people</i>Forum</a></li>
          <li><a href="/resources" id="resources" class="black-text"><i class="small material-icons left">forum</i><span>Resources</span></a></li>
          <li><a href="/profile" id="profile" class="black-text"><i class="small material-icons left">account_circle</i>Profile</a></li>
          <li><a href="#" id="logOut" class="black-text"><i class="small material-icons left">power_settings_new</i>Log Out</a></li>
       </ul>
