<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/404.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <script type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js">
    </script>
  </head>
  <body>
			<div class="row">
        <div id="particles-js"></div>
      </div>
      <div class="row" id="noBuddyText">
          <span id="">
            Looks like there are no buddies left here :(<br>
            Let's move towards homepage
            <span>
      </div>
    <script src="js/particles.js"></script>
  </body>
</html>
