<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css"
  />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/navbar.css" media="screen,projection"/>
  <link rel="stylesheet" href="css/materialize.min.css">
  <title>About Page</title>
</head>

<body style="background: linear-gradient(145deg, #33b5e5 , #888ec9, #f49b89); height: 100%; width: 100%; ">
    <div >
    <nav style="background-color: transparent !important; box-shadow: none; border: none; padding: 1vw;">
    <div class="nav-wrapper" style="">
      <a href="#" class="brand-logo">Udabuddy</a>
      <img src="" alt="">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Blog</a></li>
        <li><a href="badges.html">Wall of Fame</a></li>
        <li><a href="collapsible.html">About US</a></li>
      </ul>
    </div>
  </nav>
  <div style="height: ; display: flex;"></div>
  
  <div class="col s12 m12 l12" style="height: 100vh; width: 100%; display: flex; position: relative; padding:; overflow: hidden;">
  <div class="conatiner" style="margin: 12vh 4vw; padding: 5vh 3vw;">
  <h3 style="    font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    padding-top: 1.5rem;
    color: white;
    opacity: .6; margin: 0;">Udabuddy is</h3>
  <h1 id="msg" style="font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -.025rem;
    padding-top: 1.5rem;
    color: white; margin: 0;"></h1>
    </div>
      
  </div>
  <div style="height: ; display: flex;">
    <div class="example-display" style="position:relative;height:600px;">
<h1>This section will have cutouts from dashboard, blog, graph to advertise our product</h1>
<h1>With Udabuddy you</h1>
<img src="" alt="blog around@blog">
<img src="" alt="compete with friends@graphs">
<img src="" alt="Chat to mentors@profile">
<img src="" alt="discover awesome projects@walloffame">
<ims src="" alt="build you idea">
  </div>
  </div>
  <div class="join">
  </h1> what are you waiting for?</h1>
  <h2> join Udabuddy</h2>
  </div>
  
  
</body>
<script src="js/materialize.min.js"></script>
<script src="js/about.js"></script>
<script type="text/javascript">
var showText = function (target, message, index, interval) {
  if (index<message.length)
  {
    $(target).append(message.substring(index, index+3));
    index+=3;
    setTimeout(function(){
    showText(target, message, index, interval); }, interval);
    }
    }
    $(function () {
      showText("#msg", "Where you meet, collaborate, and learn from awesome people at Udacity.", 0, 300);
      });
</script>
<script src="js/navfeature.js"></script>
</html>
