<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css"
  />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/navbar.css" media="screen,projection"/>
  <link rel="stylesheet" href="css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="css/about.css" media="screen,projection"/>
  <title>About Page</title>
</head>

<body>
  <div class="navbar">
    <nav>
      <div class="nav-wrapper" >
        <a href="/" class="brand-logo">Udabuddy</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/blogDemo">Blog</a></li>
          <li><a href="/wofDemo">Wall of Fame</a></li>
          <!--return false halts the page from scrolling up -->
          <li><a href="#" onclick="return false">About Us</a></li>
          <li><a href="/">Udabuddy</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/blogDemo">Blog</a></li>
      <li><a href="/wofDemo">Wall of Fame</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/">Udabuddy</a></li>
    </ul>
  </div>

  <div class="intro_message">
    <div class="col s12 m12 l12" >
      <div class="" style="margin: 12vh 4vw; padding: 5vh 3vw;">
        <h3>Udabuddy is</h3>
        <h1 id="msg" style="margin: 0;"></h1>
      </div>
    </div>
  </div>
  <div class="row container" >
    <h1>With Udabuddy you can</h1>
    <div class="example-display container2" style="">
      <div class="col s12 l7 m7">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="media/build.jpg" alt="Build your idea">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Build with Dev community<i class="material-icons right">more_vert</i></span>
            <p><a href="#" onclick="return false">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Build your idea<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 l5 m5">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="media/performance.jpg" alt="compete with friends">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Performance analysis<i class="material-icons right">more_vert</i></span>
            <p><a href="#" onclick="return false">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Performance analysis<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 l7 m7">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="media/blog.jpg" alt="blog around">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Informative Blogs<i class="material-icons right">more_vert</i></span>
            <p><a href="#" onclick="return false">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 l5 m5">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="media/showcase.jpg" alt="Showcase">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Showcase<i class="material-icons right">more_vert</i></span>
            <p><a href="#" onclick="return false">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Showcase<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="join container">
    <h1>what are you waiting for?</h1>
    <h2>join Udabuddy.</h2>
    <a class="waves-effect waves-light btn-large" href="/">Discover Udabuddy</a>
  </div>
</body>

<footer class="page-footer" style="background-color: #f49b89;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <a href="/"><h5 class="white-text" >This is Udabuddy</h5></a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Discover More</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/blogDemo">Blog</a></li>
          <li><a class="grey-text text-lighten-3" href="/wofDemo">Wall of Fame</a></li>
          <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
          <li><a class="grey-text text-lighten-3" href="/signIn">Join</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Udabuddy
      <a class="grey-text text-lighten-4 right" href="#!">Fork</a>
    </div>
  </div>
</footer>

<script src="js/materialize.min.js"></script>
<script src="js/about.js"></script>
<script type="text/javascript">
  // Or with jQuery
  $(document).ready(function(){
    $('.sidenav').sidenav();

    var showText = function (target, message, index, interval){
      if (index<message.length){
        $(target).append(message.substring(index, index+3));
        index+=3;
        setTimeout(function(){
          showText(target, message, index, interval); }, interval);
      }
    }
    $(function () {
      showText("#msg", "Where you meet, collaborate, and learn from awesome people at Udacity.", 0, 300);
    });
  });
</script>
<script src="js/navfeature.js"></script>
</html>
