<!DOCTYPE html>
<html lang="en">
<head>
{{> starter}}
  <link type="text/css" rel="stylesheet" href="css/blogShow.css" media="screen,projection"/>

</head>
<body>
    <header>
      {{> navbar}}
      {{> navlinks}}

  	</header>

    <div class="container hoverable">

  <h1 class="center-align" id="title">Dream BIG</h1>
  <h6 class="center-align subtitle"><span id="name"></span><img id="userImg" alt=""></h6>

    <img class="responsive-img hoverable" src="https://images.unsplash.com/photo-1454937951501-e0d57de9ea4e?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=5f6f55739b65664cc8604f50f3464de2" alt="" >


  <div class="buttons">
    <div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large red">
    <i class="large material-icons z-depth-5 ">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating red z-depth-4"><i class="material-icons">favorite</i></a></li>
    <li><a class="btn-floating yellow darken-1 z-depth-5"><i class="material-icons">bookmark</i></a></li>
    <li><a class="btn-floating green z-depth-5"><i class="material-icons">share</i></a></li>
    <li><a class="btn-floating blue z-depth-5"><i class="material-icons">comment</i></a></li>
  </ul>
</div>
  </div>
 <div class="card-panel">
   <p class="flow-text" id="content">

   Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis est ipsam alias nesciunt aperiam illo harum fugiat enim error praesentium sint, animi explicabo corrupti, dolor quaerat dolores temporibus ad eveniet?
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quae blanditiis, aliquid velit qui quasi ea laudantium rem doloribus iure deleniti sed possimus, aperiam veniam quo quidem perferendis voluptatem. Sit.
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, dolorem modi fugiat ratione possimus officiis voluptatibus vero aliquam non culpa doloribus a consectetur voluptatum at! Eius a est sequi perferendis!
   loem
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi saepe, officia, ducimus nisi sit quam numquam quis ratione eveniet dicta id ex sequi deleniti cum eaque maxime consequuntur ullam quibusdam?
   Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptas laborum quisquam delectus quibusdam atque, vero cumque quod in cum excepturi repellendus a quaerat ipsam aliquid est modi? Iusto, ab.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ex animi nobis vel cum quia quisquam iure natus, iste aut temporibus eligendi est aliquid sunt accusamus officia modi placeat expedita?
   Lorem ipsum dolor, sit amet consectetur adipisicing elit. A perferendis aperiam aspernatur quae suscipit, ex architecto hic. Temporibus facilis, harum, magni officiis possimus impedit omnis quo exercitationem consequuntur, numquam dolorem?
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dolorem natus dolor omnis officia quibusdam id, dolore illo atque aperiam fugiat quaerat eveniet. Quam illo eos aperiam recusandae exercitationem iusto?
   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus eius facere quae iusto ut architecto. Nostrum eos quas deserunt saepe, tenetur cupiditate in adipisci nobis eius labore fugiat, expedita maiores!
   </p>

  </div>
</div>
</body>
<script src="js/blogShow.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="js/materialize.min.js"></script>
</html>
