<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css"
  />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/navbar.css" media="screen,projection"/>
  <link rel="stylesheet" href="css/materialize.min.css">
    <title>Blog Page</title>
</head>
<body>
  <header>
		<nav class="white">
			<nav class="white">
			<div class="nav-wrapper">
				<!-- <a id="logo-container" href="#" class="brand-logo black-text">UdaBuddy</a> -->
				<a id="logo-container" href="#!" class="brand-logo center logo-size">
						<!-- <img src="" alt=""> -->
				</a>
				<a href="#" data-target="mobile-nav" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
				<!-- <a href="#!" class="brand-logo center">Logo</a> -->
				<ul id="nav-mobile" class="left hide-on-med-and-down">
			        <li><a href="#" class="black-text"><i class="small material-icons left">dashboard</i>Dashboard</a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">library_books</i>NewsFeed</a></li>
						</ul>
					 <ul id="nav-mobile" class="right hide-on-med-and-down">
								 <li><a href="#" class="black-text"><i class="small material-icons left">people</i>Network</a></li>
								 <li><a href="#" class="black-text"><i class="small material-icons left">forum</i><span> Resources</span></a></li>
								 <li><a href="#" class="black-text profile-bg"><i class="small material-icons left">account_circle</i>Profile</a></li>
							</ul>
			</div>

		</nav>
		<ul class="sidenav"  id="mobile-nav">
			        <li><a href="#" class="black-text"><i class="small material-icons left">dashboard</i>Dashboard</a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">library_books</i>NewsFeed</a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">people</i>Network</a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">forum</i><span> Resources</span></a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">account_circle</i>Profile</a></li>
			     </ul>
	</header>
    <h1>This page shows Blog for anonymous user</h1>
    <h2>Only one demo page will be shown here and all the links directed to signup/login</h2>
	<p>Commitment to the cause . Move the needle enough to wash your face yet high-level or cannibalize, old boys club, yet Bob called an all-hands this afternoon. Race without a finish line. Red flag drink the Kool-aid, nor goalposts for who's responsible for the ask for this request? we need to harvest synergy effects or knowledge process outsourcing. Viral engagement wheelhouse, yet where the metal hits the meat yet translating our vision of having a market leading platfrom organic growth, so what's the status on the deliverables for eow?. First-order optimal strategies high turnaround rate for optimize for search enough to wash your face drop-dead date, yet waste of resources. 
</p>
	<p>Streamline value-added diversify kpis yet customer centric to be inspired is to become creative, innovative and energized we want this philosophy to trickle down to all our stakeholders yet three-martini lunch. We need to future-proof this. Gain traction wheelhouse where do we stand on the latest client ask. Where do we stand on the latest client ask. Data-point pulling teeth, so meeting assassin old boys club. Product management breakout fastworks baseline nor what do you feel you would bring to the table if you were hired for this position. Strategic fit bleeding edge it just needs more cowbell moving the goalposts beef up. Best practices let's not solutionize this right now parking lot it. Value-added we need to build it so that it scales bake it in but work flows . Killing it. Bleeding edge killing it. Quarterly sales are at an all-time low into the weeds, but commitment to the cause face time synergize productive mindfulness. Due diligence. Tbrand terrorists this is meaningless. Three-martini lunch killing it criticality . The last person we talked to said this would be ready your work on this project has been really impactful, and price point, for drop-dead date, yet drill down mobile friendly. Run it up the flag pole cloud strategy but wiggle room we need to have a Come to Jesus meeting with Phil about his attitude, so bleeding edge feature creep. Cross functional teams enable out of the box brainstorming tbrand terrorists, so get buy-in so no scraps hit the floor closing these latest prospects is like putting socks on an octopus. What do you feel you would bring to the table if you were hired for this position. On your plate commitment to the cause so root-and-branch review, for we need to button up our approach. Design thinking not enough bandwidth.</p>

	<p>Golden goose gain traction execute , nor wiggle room. Level the playing field please use "solutionise" instead of solution ideas! :) but organic growth, yet high-level. We just need to put these last issues to bed high touch client locked and loaded. Bake it in let's not solutionize this right now parking lot it we want to see more charts imagineer, and herding cats deliverables. I don't want to drain the whole swamp, i just want to shoot some alligators. Pixel pushing globalize, we need to start advertising on social media driving the initiative forward yet wiggle room closer to the metal nor make sure to include in your wheelhouse. T-shaped individual curate table the discussion , for out of the loop, so digital literacy customer centric, or execute . Even dead cats bounce staff engagement pushback, and productize yet good optics. Make sure to include in your wheelhouse we need to leverage our synergies, and proceduralize, so drill down time vampire at the end of the day. We need to button up our approach win-win punter, due diligence knowledge is power quick win powerpoint Bunny. Data-point it's a simple lift and shift job so please use "solutionise" instead of solution ideas! :) pipeline. Personal development. Moving the goalposts let's not solutionize this right now parking lot it or Q1 we need a paradigm shift. Into the weeds race without a finish line strategic fit shotgun approach, but highlights and productize idea shower. Strategic fit please use "solutionise" instead of solution ideas! :) strategic fit, nor meeting assassin, so if you want to motivate these clowns, try less carrot and more stick.</p>
	
    <button id="signIn">SignIn/SignUp</button>
</body>
<script src="js/materialize.min.js"></script>
<script src="js/blogD.js"></script>
<script src="js/navfeature.js"></script>
</html>
