<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/dashboard.css">
    <title>Index Page</title>
</head>
<body>
	 <nav>
    <div class="nav-wrapper white">
      <a href="#" class="brand-logo" style="color:black">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Something</a></li>
        <li><a href="#">Something else</a></li>
        <li><a href="#">Yet something!</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s5"></div>
        <div class="col s2 center">
          <h3 style="color:black">Welcome <span class="name"></span></h3>
            <h4 style="color:black">logout</h4>
              <a class="btn-floating btn-large waves-effect waves-light red" id="logOut"><i class="material-icons">loop</i></a>
        
        </div>
        <div class="col s5"></div>
      </div>
    </div>
    
  </nav>
</body>
<script src="js/dashboard.js"></script>
<script src="js/materialize.min.js"></script>
</html>