<!DOCTYPE html>
<html lang="en-us"><!--02b3e4-->
    <head>
      <meta charset="UTF-8">
      <meta name="description" content="Udacity Alumni network">
      <meta name="robots" content="index, follow">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" media="screen,projection"/>
      <!--javascript-->
      <script type="text/javascript" src="js/main.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
      <div style="background-color: #02b3e4;">   
         <nav class="blue_nav" style="background-color: #02b3e4;position: fixed;margin-bottom: 0;">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo" style="font-family:sans-serif;padding-left: 7px;text-shadow: 0 0 7px red;">UDABUDDY</a>
                <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn">Sign Up <i class="material-icons right">send</i></a></li>
                </ul>
            </div>
         </nav>     
      </div>
     <div>    
      <div class="row">
        <div class="col s12 m6 l6" style="background-color: #02b3e4;padding-top: 50px">
            <!-- red nav section -->
                <div class="first_qoute quote"><h4>Discover Udacity</h4></div>
                <div class="second_quote quote"><h3>Develop the next big thing</h3></div>
                <div class="third_quote quote"><h4>Meet awesome people at Udacity</h4></div>
        </div>
        <div class="col s12 m6 l6" style="background-color: #02b3e4;padding-top: 67px;">
          <!-- blue section -->
                <main>
                  
                    <div class="container login">
                      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                        <form class="col s12 m" method="post">
                          <div class='row'>
                            <div class='input-field col s12'>
                              <input class='validate' type='email' name='email' id='email' />
                              <label for='email'>Enter your email</label>
                            </div>
                          </div>
                          <div class='row'>
                            <div class='input-field col s12'>
                              <input class='validate' type='password' name='password' id='password' />
                                <label for='password'>Enter your password</label>
                            </div>
                            <label style='float: right;'>
                              <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
                          </label>
                          </div>
                        <br />
                          <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect'>Login</button>
                          </div>
                        </form>
                      </div>
                     </div style="text-align: center">
                     <a href="#!" >Create account</a>
                   </main>
         </div> 
        </div>
        <footer class="page-footer">
          <div class="container">
            <div class="row" style="padding: 0px;">
              <div class="col l3 m3 s12" style="padding: 0px">
                <h8 class="white-text">About</h8>
              </div>
            <div class="col l3 m3 s12" style="padding: 0px">
            <h8 class="white-text">Blog</h8>
            </div>
           <div class="col l3 m3 s12" style="padding: 0px">
            <h8 class="white-text">Terms</h8>
            </div>
            <div class="col l3 m3 s12" style="padding: 0px">
             <h8 class="white-text">Developres</h8>
             </div>
           </div>
         </div>
         <div class="footer-copyright" style="height: 20px;">
           <div class="container" style="text-align: center;">
            <ul>
               <li>Made with &hearts; by team!</li>
            </ul>
           </div>
         </div>
       </footer></div>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <script type="text/javascript">
        var a = $(".blue_nav").offset().top;

        $(document).scroll(function(){
            if($(this).scrollTop() > a)
              {   
                  $('.blue_nav').css({"background":"black"});
                  
              } else {
                  $('.blue_nav').css({"background":"#02b3e4"});
               }
            });</script>
    </body>
</html>
  
