<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>UdaBuddy</title>
  {{!-- <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="/bower_components/firebaseui/dist/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="/bower_components/firebaseui/dist/firebaseui.css" /> --}}
<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu|PT+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body class="light-blue lighten-5">

	<header>
		<nav class="light-blue lighten-1 navStyle" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="#" class="brand-logo">UdaBuddy</a>
				<ul class="right hide-on-med-and-down">
				  <li>
					<a href="#">Sign Up | Login</a>
				  </li>
				</ul>
				<ul id="nav-mobile" class="sidenav">
				  <li>
					<a href="#">Sign Up | Login</a>
				  </li>
				</ul>
				<a href="#" data-target="nav-mobile" class="sidenav-trigger">
					<i class="material-icons">menu</i>
				</a>
			</div>
		</nav>
	</header>

	<main>
		<div class="section leftSide">
			<div class="mainContainer">
				<div class="row ">
					<div class="col m12 s12">
						<h1 class="left">UdaBuddy</h1>
						<h4 class="left">A Platform for Udacity Students and Alumni</h4><br/><br/><br/>
						<h5 class="left">Create, Share & Learn. Together !</h5>
					 </div>
					
				</div>
			</div>
		</div>
		<div class="section rightSide">
			<div class=" col s12 m6 center">
				<div id="firebaseui-auth-container"></div>
			</div>
		</div>
		
	</main>	
        <footer class="page-footer blue lighten-2 center">
          <div class="container">
            <div class="row nav2">
				  <div class="col m3 s12">
					<a href="#">
					<b>About</b>
				  </a>
				</div>
				<div class="col m3 s12">
				  <a href="#">
					<b>Blog</b>
				  </a>
				</div>
				<div class="col m3 s12">
				  <a href="#">
					<b>Terms</b>
				  </a>
				</div>
				<div class="col m3 s12">
				  <a href="#">
					<b>Developers</b>
				  </a>
				  </div>
            </div></div>
          <div class="footer-copyright blue lighten-1">
            <div class="container center">
            Created By
					<a class="black-text text-lighten-3" href="#">
						<b>UdaBuddy Team</b>
					</a>
					<span id="copy">&copy;2018</span>
            </div>
          </div>
        </footer>
            
  <!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/indexPage.js"></script>

</body>

</html>