<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>UdaBuddy</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body class="light-blue lighten-5">
  <header>
  <nav class="light-blue lighten-1 navStyle" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">UdaBuddy</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Sign Up | Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Sign Up | Login</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </header>
  
  <main>
  <div class="section">
    <div class="mainContainer">
		<div class="row ">
			<div class="col m6 s12">
				<h1 class="header left orange-text">UdaBuddy</h1>
				<h4 class="header col s12 left">A Platform for Udacity Students and Alumni</h4>
				<h5 class="header col s12 left" style="font-family: 'Ubuntu', sans-serif;">Create, Share & Learn. Together !</h5>
			</div>
			<div class="col s12 m6 center">
				<div id="formStyle">
					<form onsubmit="" action="" method="POST">
						<button class="loginBtn loginBtn--facebook">Login with Facebook</button>
					<button class="loginBtn loginBtn--google">Login with Google</button><br><br>
					
					<div><b>OR</b></div>
					
					<p style="font-size: 16px">Please fill in your credentials to login.</p>
					  
					<input type="email" name="email" placeholder="Email ID" class="validate"><br>
						<input type="password" name="password" placeholder="Password" class="validate"><br><br>
						<input type="submit" class="blue" value="Login" name="btn-login">
						<input type="reset" class="blue" value="Reset">
							
					<p>Dont have an account? <a href="#">Sign up now</a>.</p>			
					</form>
				</div>
			</div>
		</div>
    </div>
  </div>
</main>
<footer class="page-footer blue lighten-3 center">
    <div class="nav2">
      <div class="row">
        <div class="col m3 s12">
          <a href="#"><b>About</b></a>
        </div>
        <div class="col m3 s12">
          <a href="#"><b>Blog</b></a>
        </div>
        <div class="col m3 s12">
          <a href="#"><b>Terms</b></a>
        </div>
		<div class="col m3 s12">
          <a href="#"><b>Developers</b></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright col s12">
      <div class="container black-text coprightText">
      Created By <a class="black-text text-lighten-3" href="#"><b>UdaBuddy Team</b></a> <span id="copy">&copy;2018</span>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>