<!DOCTYPE html>

<html lang="en">
    <head>
	
        <title>UdaBuddy</title>
		
		<meta charset="utf-8" /> 
				
		<meta name="description" content="" />
    
		<meta name="keywords" content="" />
		
		<meta name="author" content="Udacity Frontend Scholars" /> 
		
		<meta name="robots" content="index, follow" />
        		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		        	
		<!-- <link href="style1.css" rel="stylesheet" media="all" /> -->
		<link rel = "stylesheet" href = "style1.css">

		<link rel="shortcut icon" href="favicon2.ico" type="image/x-icon" />                
		<!-- bootstrap and jquery -->
                
        <!-- Latest compiled and minified CSS -->
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" /> -->
            
        <!-- font awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- Google font  -->
		<link href="https://fonts.googleapis.com/css?family=Jua|Slabo+27px" rel="stylesheet">
		
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>	
		
       <!--  {{!-- <script src="/javascripts/script.js" ></script>d --}} -->

    </head>
    
    <body>

		<!-- Navbar Start -->		
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarcol">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							
						<a href="https://mepsrajput.github.io/" class="navbar-brand" 
							id="navbar-brand"> UdaBuddy
						</a>
				</div>					
					
				<div id="navbarcol" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" style="color: white">Sign Up | Login</a></li>
					</ul>
				</div>
		    </div><!-- container end -->
		</nav><!-- Navbar End -->		

		<!-- start of about-section -->		
		<div class="aboutContainer parallax noselect" id="about">
			<div class="container-fluid insideContainer">
				<div class="row">
					<div class="col-md-8 text-center">
						<div id="intro">
							<h1> Welcome to <b>UdaBuddy</b></h1><br>
							<h2 style="font-family: 'Slabo 27px', serif;">
								A Platform for Udacity Students and Alumni
							</h2><br>
							<h3 style="font-family: 'Jua', sans-serif;"> 
								Lets learn together !
							</h3><br>
						</div>
					</div>
					
					<div class="col-md-4 text-center">
						<div id="formStyle">
							<form onsubmit="" action="" method="POST">
								<button class="loginBtn loginBtn--facebook">Login with Facebook</button>
							<button class="loginBtn loginBtn--google">Login with Google</button><br><br>
							
							<div><b>OR</b></div><br>
							
							<p style="font-size: 16px">Please fill in your credentials to login.</p>
							  
							<div class="form-group">
								<input type="text" name="email" placeholder="Email ID" class="form-control">
								<span class="help-block" class="form-control"></span>
							</div>
							<div class="form-group">
								<input type="password" name="password" placeholder="Password" class="form-control">
								<span class="help-block" class="form-control"></span>
							</div>	
							<div class="form-group">
								<input type="submit" class="btn btn-primary" value="Login" name="btn-login">
								<input type="reset" class="btn btn-default" value="Reset">
							</div>
									
							<p>Dont have an account? <a href="#">Sign up now</a>.</p>			
							</form>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end of about-section -->	

		<footer class="footer">
			<div class="container-fluid text-center noselect">
				<div class="row">
					<div class="col-lg-12 col-xs-12">
						<div class="copyright">
							Website created with <i class="fa fa-heart-o"></i> by Team <span id="copy">&copy;2018</span>
						</div>
					</div>
				</div>
			</div>
	</footer>

    </body>
	
</html>