
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="description" content="Udacity Alumni network">
      <meta name="robots" content="index, follow">
       <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
      <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
      <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="css/materialize.min.css">
      <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

	<header>

	</header>

	<main>
		<div class="section valign-wrapper center" id="leftContainer">
			<div class="row miniContainer">
				<h1>UdaBuddy</h1><br>
				<h4>A Platform for Udacity Students and Alumni</h4><br>
				<h5>Create, Share & Learn. Together !</h5>
			</div>
		</div>
		<div class="section valign-wrapper center" id="rightContainer">
			<div class="row miniContainer">
				<div id="rightText1">See what’s developing right now</div><br><br>
        <div class="sign-in-container">
          <div id="rightText2">
            <blockquote>Join Udabuddy</blockquote>
          </div>
          <div id="firebaseui-auth-container"></div>
        </div>
			</div>
		</div>

	</main>

    <footer class="page-footer blue lighten-2 center">
		<div class="container">
			<div class="row">
			    <div class="col m6 s12" id="copyright">
					Created By
					<a class="black-text text-lighten-3" id="teamStyle" href="#">
						<b> UdaBuddy Team</b>
					</a>
				  <span id="copy"> &copy;2018</span>
			    </div>
				<div class="col m2 s12">
					<a class="black-text text-lighten-3" href="#">
						<b>About</b>
					</a>
				</div>
				<div class="col m2 s12">
					<a class="black-text text-lighten-3" href="#">
						<b>Developers</b>
					</a>
				</div>
				<div class="col m2 s12 ">
					<a class="black-text text-lighten-3" href="#">
						<b>Terms</b>
					</a>
				</div>
			</div>
		</div>
    </footer>

  <!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/indexPage.js"></script>

</body>

</html>
