<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>UdaBuddy: Resources</title>
	<!-- {{!-- <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
	  <script src="/bower_components/firebaseui/dist/firebaseui.js"></script>
	  <link type="text/css" rel="stylesheet" href="/bower_components/firebaseui/dist/firebaseui.css" /> --}} -->
	<!-- <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script> -->
	<!-- <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" /> -->
  <!-- CSS  -->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/materialize.min.css">
	<!-- <link href="css/resources.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->

</head>
<body class="light-blue lighten-5">
	<header>
		<nav class="white">
			<nav class="white">
			<div class="nav-wrapper">
				<a id="logo-container" href="#" class="brand-logo black-text">UdaBuddy</a>
				<a href="#" data-target="mobile-nav" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>

				<ul id="nav-mobile" class="right hide-on-med-and-down">
			        <li><a href="#" class="black-text"><i class="small material-icons left">dashboard</i>Dashboard</a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">library_books</i>NewsFeed</a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">people</i>Network</a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">forum</i><span> Resources</span></a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">account_circle</i>Profile</a></li>
			     </ul>
			</div>

		</nav>
		<ul class="sidenav"  id="mobile-nav">
			        <li><a href="#" class="black-text"><i class="small material-icons left">dashboard</i>Dashboard</a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">library_books</i>NewsFeed</a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">people</i>Network</a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">forum</i><span> Resources</span></a></li>
			        <li><a href="#" class="black-text"><i class="small material-icons left">account_circle</i>Profile</a></li>
			     </ul>
	</header>
	<main>
		<div class="container">
			<h4>Resources</h4>
			<hr>
			<div class="row">
				<div class="col s12 m6 l4 xl4">
					<a href="#">
						<div class="card hoverable">
							<div class="card-image gallery-cover">
					          <img class="responsive-image" src="https://www.nadecon.nl/wp-content/uploads/2017/09/Technical-Skills-As-A-Software-Developer-1024x5761.png">
					    </div>
							<div class="card-content">
								<h6>Courses</h6>
								<p class="black-text">Dummy Text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col s12 m6 l4 xl4">
					<a href="#">
						<div class="card hoverable">
							<div class="card-image gallery-cover">
					          <img class="responsive-image" src="https://cdn-images-1.medium.com/max/1600/1*WWyilxdduXEkWudAJaqKsA.jpeg">
			        </div>
							<div class="card-content">
								<h6>Nanodegree Programs</h6>
								<p class="black-text">Dummy Text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col s12 m6 l4 xl4">
					<a href="#">
						<div class="card hoverable">
							<div class="card-image gallery-cover">
					          <img class="responsive-image" src="https://wallingis.com/wp-content/uploads/2016/08/software-developer.png">
			        </div>
							<div class="card-content">
								<h6>Projects</h6>
								<p class="black-text">Dummy Text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col s12 m6 l4 xl4">
					<a href="#">
						<div class="card hoverable">
							<div class="card-image gallery-cover">
					          <img class="responsive-image" src="https://www.sxsw.com/wp-content/uploads/2016/05/2017-SXSW-Hackathon-photo-by-Randy-and-Jackie-Smith.jpg">
			        </div>
							<div class="card-content">
								<h6>Hackathons</h6>
								<p class="black-text">Dummy Text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col s12 m6 l4 xl4">
					<a href="#">
						<div class="card hoverable">
							<div class="card-image gallery-cover">
					          <img class="responsive-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Backlit_keyboard.jpg/640px-Backlit_keyboard.jpg?uselang=en-gb">
			        </div>
							<div class="card-content">
								<h6>Coding Competitions</h6>
								<p class="black-text">Dummy Text</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</main>



	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="js/materialize.min.js"></script>
  	<script src="js/resources.js"></script>
</body>
</html>
</html>
