<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
{{> starter}}
  <link rel="stylesheet" href="css/resources.css">
</head>
<body>
	<header>
		{{> navbar}}
		{{> navlinks}}

	</header>
	<main>
		<div class="container">
			<h4 class="center-align">Resources</h4>

			<div class="row">
				<div class="col s12 m6 l4 xl4">
					<a href="#">
						<div class="card hoverable">
							<div class="card-image gallery-cover">
					          <img class="responsive-image" src="https://www.nadecon.nl/wp-content/uploads/2017/09/Technical-Skills-As-A-Software-Developer-1024x5761.png">
					    </div>
							<div class="card-content">
								<h6>Courses</h6>
								<p class="black-text">Dummy Text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col s12 m6 l4 xl4">
					<a href="#">
						<div class="card hoverable">
							<div class="card-image gallery-cover">
					          <img class="responsive-image" src="https://cdn-images-1.medium.com/max/1600/1*WWyilxdduXEkWudAJaqKsA.jpeg">
			        </div>
							<div class="card-content">
								<h6>Nanodegree Programs</h6>
								<p class="black-text">Dummy Text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col s12 m6 l4 xl4">
					<a href="#">
						<div class="card hoverable">
							<div class="card-image gallery-cover">
					          <img class="responsive-image" src="https://wallingis.com/wp-content/uploads/2016/08/software-developer.png">
			        </div>
							<div class="card-content">
								<h6>Projects</h6>
								<p class="black-text">Dummy Text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col s12 m6 l4 xl4">
					<a href="#">
						<div class="card hoverable">
							<div class="card-image gallery-cover">
					          <img class="responsive-image" src="https://www.sxsw.com/wp-content/uploads/2016/05/2017-SXSW-Hackathon-photo-by-Randy-and-Jackie-Smith.jpg">
			        </div>
							<div class="card-content">
								<h6>Hackathons</h6>
								<p class="black-text">Dummy Text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col s12 m6 l4 xl4">
					<a href="#">
						<div class="card hoverable">
							<div class="card-image gallery-cover">
					          <img class="responsive-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Backlit_keyboard.jpg/640px-Backlit_keyboard.jpg?uselang=en-gb">
			        </div>
							<div class="card-content">
								<h6>Coding Competitions</h6>
								<p class="black-text">Dummy Text</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</main>



	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="js/materialize.min.js"></script>
  	<script src="js/resources.js"></script>
</body>
</html>
</html>
