<!DOCTYPE html>
<html lang="en">
<head>
{{> starter}}
    <title>Showcase</title>
</head>
<body>
  <header>
		{{> navbar}}
    {{> navlinks}}
	</header>
    <h1>This is the showcase page for signed In User</h1>
</body>
<script src="js/materialize.min.js"></script>
<script src="js/showcase.js"></script>
</html>
