<!DOCTYPE html>
<html lang="en">

<head>
{{> starter}}
  <link rel="stylesheet" href="css/materialize-social.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Wall of fame</title>
  <style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);


  .card-footer {
  border-top: solid 1px #B6B6B6;
  padding: 5px;
}

.card-footer ul {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.card-footer ul li{
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.card-footer ul li i {
  font-size: 2em;
  color: #3F51B5;
}
.container2 {

  margin: 0 auto;

  max-width: 1280px;
  width: 80%;
}
@media only screen and (min-width: 601px)
  .container2 {

    width: 85%;
}
@media only screen and (min-width: 993px)
  .container2 {
    width: 70%;

}
.cardup { width:800px;}



@media only screen
and (max-width : 480px) {
.cardup { width:100px;}
}


@media only screen
and (max-width : 767px) {
.cardup { width:400px;}
}
h1 {
    position: relative;
    #font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: white;
}
h1:before {
    margin-left: -50%;
    text-align: right;
}
  </style>

</head>
<body style="background: linear-gradient(145deg, #33b5e5 , #888ec9, #f49b89); height: 100%; width: 100%; ">

<header>
{{> navbar}}
{{> navlinks}}

</header>
  <div class="upper-sec container2" style="height: 80%;">
  <h1 style="  font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0;
    color: white; margin-top: 10%; margin-bottom: 12%;">  Featured project!  </h1>

   <h4 style="  font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0;
    color: white;">Udabuddy</h4>
  <div class="big_project  cardup " style="width: 100%; height: 80%;">
  <div class="card-image">
  <img class="materialboxed" width="100%" height="70%" src="media/udabuddy.jpg">
  </div>
  <div class="card-footer" style="background-color: #f49b89; height: 80%;">
    <ul class="collection" style="height: 80%; margin: 0px; border: 0px;">
      <li class="collection-item avatar"  style="float: left; background-color: #f49b89; height: 80%; "> <img src="media/build.png" alt="" class="circle"> <span class="title"
    style="  font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: white;"> Team Udabuddy</span>
      </li>
    </ul>
    <ul style="height: 80%;">
      <a class="waves-effect waves-light btn-floating social google">
      <i class="fa fa-google"></i> Sign in with Google</a>
      <a class="waves-effect waves-light btn-floating social github">
      <i class="fa fa-github"></i> Sign in with github</a>
      <a class="waves-effect waves-light btn-floating social linkedin">
      <i class="fa fa-linkedin"></i> Sign in with linkedin</a>
    </ul>
   </div>
  </div>

  </div>
  <div class="lower-sec " style="height: 100%; background-color: ;">
  <h1
  style=" font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0;
    color: white;">Projects that stand out!</h1>
  <div class="container2">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card" style="overflow: hidden;">
        <div class="card-image">
          <img class="activator materialboxed" src="media/about.jpg">
         <span class="card-title" style="color: black;">About Page</span>
        </div>
        <div class="card-footer" style="background-color: #f49b89; height: 80%;">
          <ul class="collection" style="padding: 0px; height: 100%; margin: 0px; border: 0px;">
          <li class="collection-item avatar"  style="float: left; background-color: #f49b89;"> <img src="media/rahul.jpg" alt="" class="circle"> <span class="title" style="font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: white;"> Rahul Roy </span>
          </li>
          </ul>
          <ul>
          <a class="waves-effect waves-light btn-floating social google">
          <i class="fa fa-google"></i> Sign in with Google</a>
          <a class="waves-effect waves-light btn-floating social github">
          <i class="fa fa-github"></i> Sign in with github</a>
          <a class="waves-effect waves-light btn-floating social linkedin">
          <i class="fa fa-linkedin"></i> Sign in with linkedin</a>
          </ul>
        </div>
      </div>
    </div>
      <div class="col s12 m6 l4">
      <div class="card " style="overflow: hidden;">
        <div class="card-image">
          <img class="activator materialboxed" src="media/showcase1.jpg">
          <span class="card-title" style="color: black;">Showcase</span>
        </div>
        <div class="card-footer" style="background-color: #f49b89; height: 80%;">
          <ul class="collection" style="padding: 0px; height: 100%; margin: 0px; border: 0px;">
          <li class="collection-item avatar"  style="float: left; background-color: #f49b89;"> <img src="media/rahul.jpg" alt="" class="circle"> <span class="title" style="font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: white;">Rahul Roy</span>
          </li>
          </ul>
          <ul>
          <a class="waves-effect waves-light btn-floating social google">
          <i class="fa fa-google"></i> Sign in with Google</a>
          <a class="waves-effect waves-light btn-floating social github">
          <i class="fa fa-github"></i> Sign in with github</a>
          <a class="waves-effect waves-light btn-floating social linkedin">
          <i class="fa fa-linkedin"></i> Sign in with linkedin</a>
          </ul>
        </div>
      </div>
    </div>
      <div class="col s12 m6 l4">
      <div class="card " style="overflow: hidden;">
        <div class="card-image">
          <img class="activator materialboxed" src="media/blog1.jpg">
          <span class="card-title" style="color: black;">Blog</span>
        </div>
        <div class="card-footer" style="background-color: #f49b89; height: 80%;">
          <ul class="collection" style="padding: 0px; height: 100%; margin: 0px; border: 0px;">
          <li class="collection-item avatar"  style="float: left; background-color: #f49b89;"> <img src="media/place.jpg" alt="" class="circle"> <span class="title" style="font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: white;"> Avinash</span>
          </li>
          </ul>
          <ul>
          <a class="waves-effect waves-light btn-floating social google">
          <i class="fa fa-google"></i> Sign in with Google</a>
          <a class="waves-effect waves-light btn-floating social github">
          <i class="fa fa-github"></i> Sign in with github</a>
          <a class="waves-effect waves-light btn-floating social linkedin">
          <i class="fa fa-linkedin"></i> Sign in with linkedin</a>
          </ul>
        </div>
      </div>
    </div>
      <div class="col s12 m6 l4">
      <div class="card " style="overflow: hidden;">
        <div class="card-image">
          <img class="activator materialboxed" src="media/dashboard.jpg">
          <span class="card-title" style="color: black;">Dashboard</span>
        </div>
        <div class="card-footer" style="background-color: #f49b89; height: 80%;">
          <ul class="collection" style="padding: 0px; height: 100%; margin: 0px; border: 0px;">
          <li class="collection-item avatar"  style="float: left; background-color: #f49b89;"> <img src="media/place.jpg" alt="" class="circle"> <span class="title" style="font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: white;"> Avinash</span>
          </li>
          </ul>
          <ul>
          <a class="waves-effect waves-light btn-floating social google">
          <i class="fa fa-google"></i> Sign in with Google</a>
          <a class="waves-effect waves-light btn-floating social github">
          <i class="fa fa-github"></i> Sign in with github</a>
          <a class="waves-effect waves-light btn-floating social linkedin">
          <i class="fa fa-linkedin"></i> Sign in with linkedin</a>
          </ul>
        </div>
      </div>
    </div>
      <div class="col s12 m6 l4">
      <div class="card " style="overflow: hidden;">
        <div class="card-image">
          <img class="activator materialboxed" src="media/index.jpg">
          <span class="card-title" style="color: black;">Index page</span>
        </div>
        <div class="card-footer" style="background-color: #f49b89; height: 80%;">
          <ul class="collection" style="padding: 0px; height: 100%; margin: 0px; border: 0px;">
          <li class="collection-item avatar"  style="float: left; background-color: #f49b89;"> <img src="media/place.jpg" alt="" class="circle"> <span class="title" style="font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: white;"> Ps Rajuput</span>
          </li>
          </ul>
          <ul>
          <a class="waves-effect waves-light btn-floating social google">
          <i class="fa fa-google"></i> Sign in with Google</a>
          <a class="waves-effect waves-light btn-floating social github">
          <i class="fa fa-github"></i> Sign in with github</a>
          <a class="waves-effect waves-light btn-floating social linkedin">
          <i class="fa fa-linkedin"></i> Sign in with linkedin</a>
          </ul>
        </div>
      </div>
    </div>
      <div class="col s12 m6 l4">
      <div class="card " style="overflow: hidden;">
        <div class="card-image">
          <img class="activator materialboxed" src="media/forum1.jpg">
          <span class="card-title" style="color: black;">Forum</span>
        </div>
        <div class="card-footer" style="background-color: #f49b89; height: 80%;">
          <ul class="collection" style="padding: 0px; height: 100%; margin: 0px; border: 0px;">
          <li class="collection-item avatar"  style="float: left; background-color: #f49b89;"> <img src="media/place.jpg" alt="" class="circle"> <span class="title" style="font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: white;"> Prateek</span>
          </li>
          </ul>
          <ul>
          <a class="waves-effect waves-light btn-floating social google">
          <i class="fa fa-google"></i> Sign in with Google</a>
          <a class="waves-effect waves-light btn-floating social github">
          <i class="fa fa-github"></i> Sign in with github</a>
          <a class="waves-effect waves-light btn-floating social linkedin">
          <i class="fa fa-linkedin"></i> Sign in with linkedin</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

</body>
 <footer class="page-footer" style="background-color: #f49b89;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <a href="/"><h5 class="white-text" >This is Udabuddy</h5></a>

              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Discover More</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/blogDemo">Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="/wofDemo">Wall of Fame</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="/">Join</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Udabuddy
            <a class="grey-text text-lighten-4 right" href="#!">Fork</a>
            </div>
          </div>
        </footer>
<script src="js/materialize.min.js"></script>
<script src="js/about.js"></script>
<script type="text/javascript">
  // Or with jQuery

     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.materialboxed').materialbox();
  });
</script>
<script src="js/navfeature.js"></script>
</html>
