body{
/*   background-image:url(https://images.unsplash.com/photo-1510003575223-9d89ca75ffcf?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=5d9e803c183ec386189cb6fe3b11418e); */
  background: #02ffee;

}
nav{
  margin-bottom: 40px;
}

.container{

  margin: auto;
  margin-bottom: 50px;
  background: white;
  padding: 40px;

}
