hr{
  margin: 20px auto;
}

/* .side-nav li>a {
  padding: 0 16px;
}

.side-nav .divider {
  margin:0;
  height:8px;
  border-bottom:1px solid #e0e0e0;
  background-color: transparent;
}

.sidenav-header {
margin-bottom: 0px;
padding: 15px 0 0 15px;
  .row {
    margin-bottom: 0;
  }
}
.sidenav-footer {
margin-bottom: 0px;
padding: 0;
  .row {
    margin-bottom: 0;

  }
} */
body {
   font-family: "Fira sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
   font-weight: 300 !important;
   margin-top:100px;
}
hr{
  color: #0003;
}
