body{
  font-family: "Fira Sans", helvetica, sans-serif;
  background: linear-gradient(145deg, #33b5e5 , #888ec9, #f49b89)
}

.nav-form{
  padding-left: 24px;
}
.col{
  margin-top: 5px;
}
.box{
  padding: 10px;
  margin: 0px;
}
.row{
  margin-bottom: 0;
}
hr{
  margin: 0;
}
.welcome{
  margin-top: 0;
  text-align: center;
  padding: 10px;
}
.card{
  margin-top: 0;
}
.card .card-content{
  padding: 7px;
}
.inner-collapse{
  padding: 0;
  margin-left: 5px;
}
.course-name{
  margin: 0;
}
.course-detail{
  margin:3px 0px;
}
.update{
  padding-left: 0;
}
.image{
  padding-right: 0;
}
.update-author{
  margin: 0;
}
.description{
  margin:5px 0px;
}
.author-designation{
  margin: 0;
}
.time{
  margin: 0;
}
.likes{
  margin:5px 2px 0px 0px;
}
.small-text{
  font-size: .75em;
}
.location, .skills, .designation{
  margin: 0;
}
.job-name{
  margin:0px 0px 3px 0px;
}
/*.collapsible{
  margin: 5px 0px 0px 0px;
}*/