body{
  font-family: "Fira Sans", helvetica , sans-serif;
}
.logo-size{
  background: url("/media/logo.png") no-repeat center;
  background-size: 10%;
  width: 60%;
  height: 100%;
  z-index: -1;
}
.profile-bg{
  background-color: #0ee2ff;
}

/* edit this for navbar scroll */
/* #navbar{
  transition: top 0.3s;
  position: fixed;
  top: -100px;
  width: 100%;
  display:block;
} */

header {
  padding: 3%;
}

.navbar{
  margin-bottom: 5%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent !important;
  border: none;
  padding: 0 1vw 0 1vw;
  z-index: 99;
  -webkit-box-shadow: -5px 6px 58px -18px rgba(0,0,0,0.82);
  -moz-box-shadow: -5px 6px 58px -18px rgba(0,0,0,0.82);  
  box-shadow: -5px 6px 58px -18px rgba(0,0,0,0.82) !important;
}

.slide-nav {
  top: -68px;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.scroll {
  top: 0;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
