body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* ----- Main Section -----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */
main {
	display: flex;
	flex-wrap: wrap;
    flex: 1 0 auto;
	background: linear-gradient(145deg, #03ccba ,#57a4c3, #a87fcc);
}

.icon-block {
	padding: 0 15px;
}

#leftContainer {
	flex: 60%;
	background: url("/media/udabuddy-img.png") no-repeat center;
	background-size: contain;
	color: #f9f9f9;
    text-shadow: 1px 1px #999;
}

#leftContainer h4{
	margin-top: 50px;
	font-family: 'PT Sans', sans-serif;	
}

#leftContainer h4{
	font-family: 'Ubuntu', sans-serif;
}

#rightContainer {
	flex: 40%;
	background-color: #fdfdfd;
}

#rightText1{
	font-size: 30px;
	font-family: 'Do Hyeon', sans-serif;
}

#rightText2{
	font-size: 22px;
	font-family: 'Varela Round', sans-serif;
}

/* ----- footer Section ----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------- */
#teamStyle {
	font-family: 'Gugi', cursive;
}


/* ----- Mobile Optimizations ---------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
	.main {
		flex-direction: column;
	}
	
	#copyright {
		margin-bottom: 20px;
	}
	
	.miniContainer {
		width: 90% !important;
	}
}
