body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	display: flex;
	flex-wrap: wrap;
    flex: 1 0 auto;
	background: linear-gradient(145deg, #03ccba ,#57a4c3, #a87fcc);
}

.icon-block {
	padding: 0 15px;
}

.mainContainer {
	width: 90%;
	margin: 0 auto;
	color: white;
    text-shadow: 1px 1px #999;
}

.mainContainer h4{
	margin-top: 50px;
	font-family: 'PT Sans', sans-serif;

}
.mainContainer h5 {
	font-family: 'Ubuntu', sans-serif;
	margin-top: 50px;
}

.leftSide {
	flex: 60%;
	background-image: url("../media/udabuddy-img1.png");
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

.leftSide background-img{
	opacity: 0.1;
}

.rightSide {
	flex: 40%;
	background-color: #ffe;
}

#rightText1{
	font-size: 30px;
	font-family: 'Do Hyeon', sans-serif;
}

#rightText2{
	font-size: 22px;
	font-family: 'Varela Round', sans-serif;
}

#firebaseui-auth-container {
}

.teamStyle {
	font-family: 'Gugi', cursive;
}


/************** Mobile Optimizations
************************************************************************************************* */

@media screen and (max-width: 768px) {
	.main {
		flex-direction: column;
	}

}
