body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* ----- Header Section -----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */
.quote{
	margin-top: 8%;
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
}
nav#indexHeader{
	width: 100%;
	position: absolute;
	top: 0;
	box-shadow: 0px 0px;
}
nav{
	background-color: transparent !important;
}
nav#indexHeader .nav-wrapper{
	background-color: transparent !important;
	border: none;
	box-shadow: none;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}
nav .brand-logo {
	left:5%;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}
nav ul a {
	font-weight: 400;
}
/* ----- Main Section -----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */
main {
	display: flex;
	flex-wrap: wrap;
    flex: 1 0 auto;
	background: linear-gradient(145deg, #03ccba ,#57a4c3, #a87fcc);
}

.icon-block {
	padding: 0 15px;
}

#leftContainer {
	flex: 70%;
	color: #f9f9f9;
	/*background: url("/media/udabuddy-img.png") no-repeat center;*/
    text-shadow: 1px 1px #999;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}
.bg-image{
    background: url("/media/udabuddy-img.png") no-repeat center;
    filter: drop-shadow(-3px 1px 5px);
    filter: opacity(30%);
    background-size: 70%;
    height: 100%;
    width: 100%;
    position: absolute;
}

#leftContainer h4{
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}

#leftContainer h4{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}

#rightContainer {
	flex: 30%;
	background-color: #fdfdfd;
}

#rightText1{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 34px;
	font-weight: 300;
	line-height: 1.3;
	color: #2e3d49;
	text-align: center;
}

#rightText2{
	font-size: 22px;
	font-family: 'Varela Round', sans-serif;
}
.miniContainerBanner{
	/*background: url(/media/banner.jpg);*/
	/*background: url("/media/udabuddy-img.png") no-repeat center;*/
	background-size: contain;
	width: 100%;
	margin: 0% 5%;
	height: 20rem;
    z-index: 99;
}
/* Adding box and style to the sign in container */

/* Adding style to the heading of the sign in container */
blockquote{
	margin:20px 0;
	border-left:6px solid  #64b5f6;
	text-align:left;
}

/* ----- footer Section ----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------- */
#teamStyle {
	font-family: 'Gugi', cursive;
}
.page-footer-index{
	font-family: 'Open Sans', sans-serif;
	position:absolute;
	width:100%;
	background:none;
	bottom: 0;
}

/* ----- Mobile Optimizations ---------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
	.main {
		flex-direction: column;
	}

	#copyright {
		margin-bottom: 20px;
	}

	.miniContainer {
		width: 90% !important;
	}
}
